body {
  background-color: lightblue;
}
h1 {
  background-color: lightcoral;
}

label {
  display: block;
  float: left;
  text-align: right;
  width: 35%;
}

#button {
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16pt;
  height: 4ex;
  width: 5em;
  border-radius: 10px;
  color: white;
  background-color: blue;
}

#message {
  border-style: solid;
  border-color: grey;
}
